.keijiban__body--show{
  height: 1000px ;
  top: 57px;
  background-image: url("/assets/keijiban_back.jpg");
  background-size: cover;
  background-position: center;
}

.keijiban__cm-footer{
  position: fixed;
  bottom: 0px;
  background-color: rgb(239,242,245);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

.cm-footer__form{
  width: 75%;
  border: 1px solid rgb(217, 222, 230);
  padding: 8px 5px;
}

.cm-footer__submit{
  background-color: rgb(84, 133, 226);
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  color: white;
}

